html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    font-family: monospace;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 0;
    width: fit-content;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 5px;
  }
  
  .stopwatch {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
  }

